@page "/"
@inject IJSRuntime JSRuntime

<button id="mute-button" @onclick="OnClickMuteButton">Mute</button>
<video id="main-video" autoplay playsinline />

@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if(!firstRender)
		{
			return;
		}
		await JSRuntime.InvokeVoidAsync("openCamera");
	}

	private async Task OnClickMuteButton()
	{
		await JSRuntime.InvokeVoidAsync("toggleMute");
	}
}